[2017-07-24 09:11] m273d15 opened #1 "Run the hello world example (content of repo)"
In order to start the project, it would be useful if everybody is able to run the hello world example

[2017-07-24 09:21] m273d15 commented on #1
I tried it on an ubuntu 16.04, kernel version: 4.8.0, 64 Bit
Prerequisites:
* Install docker
* [Install docker-compose](https://www.digitalocean.com/community/tutorials/how-to-install-docker-compose-on-ubuntu-16-04)

Steps:
* change directory to the repository dir
* `mv .env.default .env` (contains dummy configuration)
* `sudo docker-compose up` - if you configured docker for root
   * if you have

[2017-07-24 10:53] baris1892 commented on #1
I tried it on Windows 7, 64-Bit and got the following error message:
[code]
Therefore I've created a new machine using ```docker-machine create swp``` (but I'm not sure if this is correct).
Then I've executed ```docker-machine start swp```, configured the environment variables using ```docker-machine env swp``` and also executed ```eval $("C:\Program Files\Docker Toolbox\docker-machine.exe" env sw

[2017-07-25 13:56] BenjaminKeller commented on #1
**_This setup description was moved to a [wiki page](https://github.com/m273d15/eid-fu-swp/wiki/Setup-Testenvironment)._**

I had some issues getting the example running on Windows 7 64bit, too.
### Docker Toolbox
First of all, I installed the [Docker Toolbox](https://docs.docker.com/toolbox/toolbox_install_windows/). After that, as @baris1892 already mentioned one has to create a docker machine:

[2017-07-25 21:49] baris1892 commented on #1
@BenjaminKeller : Thanks for your detailed instruction!

Unfortunately Running `docker-compose up --build` gave me the following error:
`ERROR: for aa690276ca80_0_eidfuswp_www_1  Cannot start service www: Invalid address 192.168.0.128: It does not belong to any of this network's subnets`

However `docker-machine ip swp` gave me `192.168.99.100`. The `BOILERPLATE_IPV4_16PREFIX` should be the same l

[2017-07-26 06:47] BenjaminKeller commented on #1
@baris1892 Try to build at first:

`docker-compose build`

Then start all containers:

`docker-compose start`

Then post the log of the www container here, please:

`docker container logs eidfuswp_www_1 | tail`

Connect to your docker machine swp and provide the output of

`ifconfig`

The problem is very confusing, especially as your docker machine ip is in the same subnet as the required ip. Did

[2017-07-26 14:21] baris1892 commented on #1
Yes, I'm using the branch windows_fix (and the content of `docker-compose.logging.yml`). I've recreated the machine and now the error is gone, however something is still wrong regarding the hosts file. I've added `192.168.99.100	eid.com` where the IP was obtained through `docker-machine ip swp`, but executing `ping eid.com` it still connects to the real eid.com page:
`docker@swp:~$ ping eid.com `

[2017-07-26 16:25] BenjaminKeller commented on #1
Google is your [friend]( https://serverfault.com/questions/452268/hosts-file-ignored-how-to-troubleshoot). Regarding the hosts file the most common mistake is too many whitespaces between ip and domain. Be sure that the format is like

‚<ip><tab><domain>‘

If that is not working, try the solutions of the mentioned link. As this is a specific problem we also might consider to solve that in a privat

[2017-07-26 16:38] BenjaminKeller commented on #1
ServerFault is your [friend](https://serverfault.com/questions/452268/hosts-file-ignored-how-to-troubleshoot). Regarding the hosts file the most common mistake is too many whitespaces between ip and domain. Be sure that the format is like

`<ip><tab><domain><enter>`

If that is not working, try the solutions of the mentioned link. As this is a specific problem we also might consider to solve that

[2017-07-28 12:06] BenjaminKeller opened #3 "Connecting with eID-Client (AusweisApp2)"
According to [Technical Guideline TR-03124-1eID-Client – Part 1: Specifications](https://www.bsi.bund.de/DE/Publikationen/TechnischeRichtlinien/tr03124/index_htm.html) paragrah 2.2 the eid-client offer its services at the following url:

- `http://127.0.0.1:24727/eID-Client` for operating systems
- `eid://127.0.0.1:24727/eID-Client` for mobile devices

We should support both variantes and also tes

[2017-07-31 15:19] m273d15 opened #4 "Summarize eID-Client"
https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/Publikationen/TechnischeRichtlinien/TR03124/TR-03124-1.pdf

[2017-07-31 15:19] m273d15 opened #5 "Summarize eID-Server"
https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/Publikationen/TechnischeRichtlinien/TR03130/TR-03130_TR-eID-Server_Part1.pdf

[2017-07-31 15:21] m273d15 opened #6 "Summarize eCard-Framework"
https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/Publikationen/TechnischeRichtlinien/TR03112/TR-03112-api_teil1.pdf

[2017-07-31 15:22] m273d15 opened #7 "Setup CI"
Setup CI for project

[2017-07-31 15:23] m273d15 opened #8 "Research on OAuth & OpenID Connect"
Research on OAuth and alternatives

[2017-07-31 15:24] m273d15 opened #9 "Validate if eID-Client is running"
Check if the eID-Client is running before making any other requests to the client.

[2017-07-31 15:25] m273d15 opened #10 "Create Demo Website"
Create a demo website with our auth service and the eID infrastructure.

[2017-07-31 15:25] m273d15 opened #11 "Get data from eID"
Test if we can read data from eID

[2017-07-31 15:28] m273d15 opened #12 "Prepare presentation"

[2017-08-01 08:17] baris1892 commented on #1
@BenjaminKeller: I've recreated again the whole machine (using your updated develop branch), but now I'm getting an error relating the SSL certificates:

[code]

The location of the certificates in `.env` is:
`BOILERPLATE_WWW_CERTS=/c/Users/Baris/certs`

So it seems that the four generated certs files (in `/c/Users/Baris/certs`) are not copied to the needed destination (`etc/ssl/private`). Any ide

[2017-08-01 12:44] BenjaminKeller commented on #1
I have two guesses:
### Windows 7
Try to manually copy the certs to the directory `/etc/ssl/private` on your docker machine by ssh.

### Windows 10
Adapt your .env-file:
[code]
Or try to copy them (I don't know how).

@baris1892 There was also a typo in the certificate generation. See the updated version in wiki.

[2017-08-02 13:50] m273d15 commented on #7
I moved this repo to the new organisation `swp-fu-eid` and activated the travis ci via my private account for this repo. Now it should be enabled for any user. @Armagetron  please verify this.
Todo: We have to create a yaml configuration. Which requirements are the foundation to create the configuration?

[2017-08-02 16:05] m273d15 commented on #1
I tried to run the project as you see below in the code box.

My result is that i see the exptected result in the browser, under the restriction that **ssl does not work properly and the browser warns** me (this could be a misconfiguration of my browser + certificates), **but the strange problem is that the api container will not boot successfully since he is unable to access the db host**. Theref

[2017-08-02 19:03] BenjaminKeller commented on #7
I think we need npm along with yasmine, frisby and jquery for eid client testing. Is that your question?

[2017-08-02 19:07] BenjaminKeller commented on #1
The certifactes are self-signed so they are not allowed to work properly. If your api has problems accessing the db try to to build it completely from scratch and be sure that all volumes were deleted:

[code]

After that, it should work fine. Otherwise provide the log files, please.

[2017-08-02 20:07] Armagetron commented on #7
Travis should work now. I will setup a CI pipeline tomorrow.

[2017-08-03 06:56] m273d15 commented on #1
Nice `docker volume rm $(docker volume ls -q)` solved the issue. I think `docker volume rm eidfuswp_db_mysql` would be enough. Thank you

[2017-08-03 07:03] m273d15 commented on #1
I added a setup script (`setup.sh`, commit: ba9c446fe59ecd634a5cb4b94c96475a7f0bb0d2) to the `linux_dev` branch in order to simplify and unify the setup process on linux.

[2017-08-03 08:58] janles opened #13 "Create a page for meeting notes"
Create in wiki a new page called "Meeting Notes" and fill it with notes of our last meeting.

[2017-08-03 09:20] m273d15 commented on #5
Even if the document consists of 69 pages, for now only page 9-11, 15-17 are important. The remaining content is only useful if we implement something on it, since the datatype, functions and so on are described.

[2017-08-03 09:59] janles commented on #13
I added the page [Meeting Notes](../../eid-fu-swp/wiki/Meeting-Notes) and filled it with the notes of our last meeting.

[2017-08-03 09:59] #13 closed, assigned to janles

[2017-08-03 11:00] auvin opened #14 "Create infrastructure overview"
Create a figure which describes all needed components and the communication between them in the eid authentication process (like the figure on this page: https://www.bsi.bund.de/EN/Topics/ElectrIDDocuments/German-eID/eID-Infrastructure/eID-Infrastructure_node.html). Add the swp-component to the figure and adjust the communication.
As we currently can't describe the whole process, the figure should

[2017-08-03 13:17] BenjaminKeller commented on #7
You can add my js-tests in branch check_for_eidclient. They are located in `static/test/`.

[2017-08-03 14:23] baris1892 commented on #12
Google Drive: https://docs.google.com/presentation/d/1mIG4MSQhuhfzyQn_7Gm-NV-9PpWc6D6GUfDv0WGPL_0/edit?usp=sharing

- - -
[Präsentation 01.pdf](https://github.com/swp-fu-eid/eid-fu-swp/files/1204440/Prasentation.01.pdf)

[2017-08-03 14:23] #12 closed, assigned to baris1892

[2017-08-03 14:43] Armagetron commented on #8
This [page](https://aaronparecki.com/oauth-2-simplified/) contains a good introduction.

[2017-08-04 10:39] Armagetron commented on #7
First steps in 8dbae111ec6dc5f33a68fbec74cab889e08c557f

[2017-08-06 08:03] janles commented on #1
On Windows 10 the Hello World program is running, too.
In wiki I added the section "Troubleshooting" with some hints.
Thanks for the detailed instruction!

[2017-08-07 09:38] auvin commented on #6
The eCard-API-Framework establishs uniform communication between the applications and the various chipcards. There are different chipcards because the eCard-strategy is not only used for the eID, but also for an electronic health card, passport etc.

The eCard-API-Framework is divided into four layers:
### Application-Layer
The Application-Layer contains various applications which use the Framewor

[2017-08-07 09:42] auvin commented on #6
I assume that we don't really need this API, because we will just communicate with the AusweisApp2 or similar applications, which will take over the direct communication with the eID-card.
If i am wrong, i think the [ISO24727-3-Interface](https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/Publikationen/TechnischeRichtlinien/TR03112/TR-03112-api_teil4.pdf?__blob=publicationFile&v=1) provides all n

[2017-08-07 09:59] baris1892 commented on #8
Django OIDC Provider: http://django-oidc-provider.readthedocs.io/en/v0.5.x/sections/installation.html

Die Library könnte eventuell hilfreich sein (vor allem werden sämtliche Python-/Django-Versionen unterstützt!)

[2017-08-07 12:29] auvin commented on #14
First try with oAuth ([example](https://de.wikipedia.org/wiki/OAuth#/media/File:Authorization-Code-Grant-Flow.png)) and the results of the discussions last week. Maybe a flow chart would be the better option. Here is the link, if you want to edit it: [eID-Infrastructure](https://docs.google.com/drawings/d/15qdG7k7ANY33JpxsFgph7BHGC4hVjPTMv027GnPRqBw/edit?usp=sharing)

![eid](https://user-images.gi

[2017-08-09 06:39] janles commented on #6
I read this document, too and I have the same opinion like @nielsgroth. I don't think we will need this API. The direct connection or/and communication is provided by the cardreader and the AusweisApp2 and we don't have to change or manipulate this.

I added @nielsgroth's first comment to our wiki.

[2017-08-09 08:47] janles commented on #8
Like @Armagetron mentioned in Slack please read the following very good paper about OpenID Connect: [Heise: OpenID Connect: Login mit OAuth, Teil 1 – Grundlagen](https://www.heise.de/developer/artikel/OpenID-Connect-Login-mit-OAuth-Teil-1-Grundlagen-2218446.html?seite=2).
Independently of @baris1892 I found the same library in my research and this could be very useful for us.
You can find other Dj

[2017-08-09 12:42] auvin opened #15 "Run PersoSim"
I was able to run the PersoSim-cardreader together with open ecard (eID-client for linux). PersoSim provides sample eID-cards which are stored as xml-files. Open ecard identicates these cards as _german electronic identity cards_.
The redirection from the [petition-site](https://epetitionen.bundestag.de/epet/peteinreichen/einzeln.html), which allowed login with eID, to open ecard also worked. The

[2017-08-10 07:46] larissazech commented on #14
![flowchart](https://user-images.githubusercontent.com/30339953/29159700-d64746c6-7daf-11e7-8014-e535c909a813.jpg)

These are the results of yesterday's discussion. We decided to switch from an organization chart to a flow chart. We will discuss this version today and publish the final version to the wiki afterwards.

For editing, please download this .txt-file and change its extension to .xml man

[2017-08-10 08:17] Armagetron commented on #7
The pipeline is running so far. However the communication between the different containers causes some trouble.

Maybe someone with more nodejs experience can look into this.

[2017-08-10 09:04] larissazech commented on #14
Update:
![flowchart_update](https://user-images.githubusercontent.com/30339953/29163005-6771fdde-7dbb-11e7-8ede-feee45894dd7.jpg)

Tried to make it more obvious which message belongs to which standard.

[FlowChart_update.txt](https://github.com/swp-fu-eid/eid-fu-swp/files/1214277/FlowChart_update.txt)

[2017-08-10 09:23] larissazech commented on #14
# OpenID Connect
Considering only the OpenID Connect Process, this is how the communication protocol is specified in the official spec ([OpenID Connect Core 1.0](http://openid.net/specs/openid-connect-core-1_0.html)):
![openid_connect_original](https://user-images.githubusercontent.com/30339953/29163833-f8f69c36-7dbd-11e7-9ad2-a32c96f63c44.JPG)
1.The RP (Client) sends a request to the OpenID Provi

[2017-08-10 09:29] larissazech commented on #8
I am going to write a summary of the OpenID Connect Specifications that can be obtained here: http://openid.net/developers/specs/. I consider this summary to be the requirement for closing this issue.

[2017-08-10 10:13] janles commented on #14
I reviewed the sequence diagram in respect of the following two papers from yesterday: [TR-eID-Server](https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/Publikationen/TechnischeRichtlinien/TR03130/TR-03130_TR-eID-Server_Part1.pdf) and [Heise: OpenID Connect: Login mit OAuth, Teil 1 – Grundlagen](https://www.heise.de/developer/artikel/OpenID-Connect-Login-mit-OAuth-Teil-1-Grundlagen-2218446.html?

[2017-08-10 14:38] m273d15 commented on #4
duplicate of #3

[2017-08-10 14:38] #4 closed, assigned to BenjaminKeller

[2017-08-10 14:43] Armagetron commented on #7
Current error is: ```Failed: request to https://eid.local/ failed, reason: getaddrinfo ENOTFOUND eid.local eid.local:443```

Somehow the URL is not resolved.

[2017-08-10 15:12] m273d15 opened #16 "Complete documentation for windows 10"

[2017-08-10 15:12] m273d15 opened #17 "Create documentation for linux"

[2017-08-10 15:13] m273d15 opened #18 "Change domain name to invalid value"
in order to avoid ambiguous state through existing domains, we rather use a not existing domain
e.g. `eid.localhost`

[2017-08-10 15:14] m273d15 opened #19 "Create Django view providing a tcTokenUrl"

[2017-08-10 15:28] m273d15 opened #20 "Test example project of eID provider"

[2017-08-10 15:31] m273d15 opened #21 "Extract test certificates of example project"
Additionally provide documentation how we can use the certificate!

[2017-08-10 15:33] m273d15 opened #22 "Create Django view which returns a xml-based TC Token"
As specified in BSI document

[2017-08-10 17:35] BenjaminKeller commented on #7
Try to add the following lines to the docker compose file:
[code]
I use this as my docker-compose.test.yml file, for example:
[code]

[2017-08-10 19:04] BenjaminKeller commented on #9
duplicate of #3

[2017-08-10 19:04] #9 closed, assigned to BenjaminKeller

[2017-08-10 19:14] BenjaminKeller commented on #19
### 1. Step: fc7de9d6f83e669ce6a4ce9e0a0105878debc4b3
The django backend needs a view which redirects the user to the eID-Client (Ausweisapp) with a GET argument called `tcTokenUrl`. The address of the eID-Client is retrieved using the client checker ( #3 ). The client checker sends a GET request to the django view with the argument `protocol` and `host`. The view returns a redirect to `protocol:/

[2017-08-10 22:02] #6 closed, assigned to nielsgroth

[2017-08-11 05:33] larissazech commented on #14
Updated the flow chart by adding the eID "Ausweis" as new entity. Layout suffered a little.
![FlowChart](https://user-images.githubusercontent.com/30339953/29202275-ec253c84-7e66-11e7-9fe0-f23b543ebb21.jpg)
[FlowChart.pdf](https://github.com/swp-fu-eid/eid-fu-swp/files/1216992/FlowChart_update_Ausweis.pdf)
[FlowChart.txt](https://github.com/swp-fu-eid/eid-fu-swp/files/1216995/FlowChart_update_Ausw

[2017-08-11 06:53] janles opened #26 "Provide a logout mechanism"
@larissazech mentioned in Slack that we should provide a logout mechanism

[2017-08-11 06:59] janles commented on #26
In my opinion a logout mechanism for our SSO (Single-Sign-On) isn't required. You don't have to logout from the OpenID Provider.
The webservice (our dummy webpage) should provide this mechanism. With SSO you can login to e.g. an account of the KVV and the KVV has to make it possible to logout.

[2017-08-11 07:02] janles opened #27 "Add latest meeting notes"
Add the notes of our last meeting to the wiki. [Meeting Notes](../../eid-fu-swp/wiki/Meeting-Notes)

[2017-08-11 08:32] Armagetron commented on #7
I prepared a new branch (c1ea81d41285bcfdb2d71355a7327f6c9e7d2a7d) with a number of commits. It fails right now but once the other PR are merged it should build.

[2017-08-11 09:14] nils-wisiol opened #28 "Travis Reports Successful Even If Tests Fail"
Check container exit code like [this](https://github.com/desec-io/desec-stack/blob/master/test-api#L45)

[2017-08-11 09:22] Armagetron commented on #28
Should now work with 5f1362337ec0ef7c558cfa4f5819a50f6597b2c7

[2017-08-11 09:36] m273d15 commented on #17
Added in wiki: https://github.com/swp-fu-eid/eid-fu-swp/wiki/Setup-Testenvironment-on-Linux

[2017-08-11 10:30] Armagetron commented on #18
We now use eid.local as of 312944d154dd938085a9c4e43051e87465a67d6c

[2017-08-11 10:30] #18 closed, assigned to Armagetron

[2017-08-11 10:31] Armagetron commented on #7
A PR (#29) has been created.

[2017-08-11 12:21] larissazech commented on #14
Added it the wiki (see [Software Architecture](https://github.com/swp-fu-eid/eid-fu-swp/wiki/Software-Architecture)). Closed.

[2017-08-11 12:21] #14 closed, assigned to nielsgroth, larissazech

[2017-08-11 13:08] nils-wisiol opened #30 "Code Style Policy"
Please use a common policy for coding style, including a policy on tabs vs spaces. Please use `\n` (unix) line breaks everywhere.

#25 both adds a [tab-indented file](https://github.com/swp-fu-eid/eid-fu-swp/pull/25/files#diff-bc4d3b2f297a4f9f288530fb5d5d1098) and [changes existing files from tab indention to space indention](https://github.com/swp-fu-eid/eid-fu-swp/pull/25/files#diff-220a16a428af

[2017-08-11 13:16] nils-wisiol commented on #17
@m273d15 , why not use `172.16` as IP4 prefix?

A better way to create cryptographically sound keys would be `cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 32 | head -n 1`, instead of the `date` stanza. It also avoids to sleep for a second.

Could you update the repositories README to include a hint for setup docs in the wiki?

Other than that, I propose to close this.

[2017-08-11 13:52] m273d15 opened #31 "Adjust example login client side from oidc example"
The [OIDC documentation](http://django-oidc-provider.readthedocs.io/en/v0.5.x/sections/examples.html) contains a working client example.
It is necessary to setup this example in a docker container and to adjust it in order to fulfill our requirements.

This example uses the **public** mode. We have to clarify whether we need the **confidential** mode! If the other mode is needed, please adjust the

[2017-08-11 13:52] Armagetron opened #32 "eID Server implementation"
I started the implementation of the eID Server component specified in [BSI TR-03130 Technical Guideline eID-Server, Part I: Functional Specification, Version 2.0.2](https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/Publikationen/TechnischeRichtlinien/TR03130/TR-03130_TR-eID-Server_Part1.pdf). This file is accompanied by a zip file [BSI TR-03130 TR-eID -Server Schemadateien](https://www.bsi.bund.

[2017-08-11 13:55] m273d15 opened #33 "Configure the openid provider plugin in Django"
We have to configure Django so that we can use our webserver as OpenID-Provider.
We want to use the plugin: http://django-oidc-provider.readthedocs.io/en/v0.5.x/index.html

[2017-08-11 13:57] m273d15 opened #34 "Create OpenID-Provider login page"
The OpenID django plugin example used a common username password scheme, since we like to authenticate via the eID, it is necessary to adjust the login page.
Furthermore we have to clarify how we can use our custom token (provided by the eID) in the openID process.

[2017-08-11 14:03] BenjaminKeller opened #35 "Decide for a project name"
As requested in #24 and #25 we have to find a name for this project. First suggestion:
[code]
I would prefer to make a decision very soon as merging #24 and #25 depends on that!

[2017-08-11 14:18] m273d15 commented on #30
I found a guideline from google: https://google.github.io/styleguide/pyguide.html
There are multiple pyline configurations that configure this styleguide.
@Armagetron mentioned that it would be useful to use a Django guideline, but i found only a prosaic specification without a full technical solution: https://docs.djangoproject.com/en/dev/internals/contributing/writing-code/coding-style/

[2017-08-11 14:22] nils-wisiol commented on #30
If you wanna go with that, no problem. For us it is sufficient to decide tabs/spaces and stick to unix newlines without a full-blown linter.

Also, PEP has some nice style advice.

[2017-08-11 14:24] m273d15 commented on #35
I like it. This is not carved in stone.
@Armagetron @larissazech @nielsgroth also approved this name.
Therefore 5/7 > 1/2 of the project approved the name!

[2017-08-11 14:32] BenjaminKeller commented on #35
Thank you very much for your fast decision. We decided to use:
[code]

[2017-08-11 14:32] #35 closed, assigned to baris1892, janles, MrM0nkey, m273d15, Armagetron, nielsgroth, larissazech, BenjaminKeller

[2017-08-11 14:32] nils-wisiol commented on #35
:+1:

ebsss?
eibsoss?
ebassos?
ebassi?

[2017-08-11 14:40] m273d15 commented on #31
started in branch: oidc_example_client

[2017-08-11 14:43] m273d15 commented on #17
I thought that `172.16` does not work on all environments, but i will try it and ask the team members.

[2017-08-11 15:29] Armagetron commented on #32
soapfish requires lxml and iso8601 as dependencies.

[2017-08-11 15:37] #16 closed, assigned to Armagetron

[2017-08-12 11:33] janles commented on #27
I added the latest meeting notes. see [05. Meeting vom 10.08.2017 (Haupttermin)](https://github.com/swp-fu-eid/eid-fu-swp/wiki/Meeting-Notes#05-meeting-vom-10082017-haupttermin)

[2017-08-13 10:19] BenjaminKeller commented on #15
I tested it on Windows 10 (failed to install drivers) and Windows 7 (installation works but no card reader is detected by AusweisApp). I think we should use Ubuntu and your installation guide for now.

[2017-08-13 16:32] m273d15 commented on #31
Totally changed the code of the client in order to use a more [maintained and powerful library](https://github.com/IdentityModel/oidc-client-js). The other library had neither a repository, documentation nor a license.

[2017-08-14 06:43] m273d15 commented on #31
The confidential mode also works in our example.

[2017-08-14 07:33] m273d15 commented on #5
see wiki https://github.com/swp-fu-eid/eid-fu-swp/wiki/Summary-of-eID-server-documentation

[2017-08-14 07:33] #5 closed, assigned to m273d15

[2017-08-14 07:39] m273d15 commented on #17
I had time to try 172.16, but this led to the error `ERROR: for www  Cannot start service www: Invalid address 172.16.0.128: It does not belong to any of this network's subnets` during the execution of `docker-compose up`

[2017-08-14 08:11] m273d15 commented on #17
Ok, it was a layer 8 problem. After cleaning my whole setup and recreating the networks, 172.16 works for me!

[2017-08-14 09:54] #3 closed, assigned to BenjaminKeller

[2017-08-14 12:15] Armagetron commented on #32
The WSDL **is broken**!

Instead of
[code]
it has to be
[code]
because the XSD implements the same namespace (see [w3schools](https://www.w3schools.com/xml/el_include.asp)).

[2017-08-14 12:23] Armagetron commented on #32
@nils-wisiol @zervnet is there a way to report this?

[2017-08-14 13:09] larissazech commented on #1
Works on Bootcamp-Windows 10 on Mac 2012 as well.

[2017-08-14 14:59] Armagetron opened #38 "Add .gitattributes"
We want to add a ```.gitattributes``` file that handles line endings for us.

It could look like this (base on [this documentation](https://help.github.com/articles/dealing-with-line-endings/):
[code]
Has everyone a git version 2.10?

[2017-08-14 15:55] larissazech commented on #38
On behalf of @m273d15, @nielsgroth and me: yes!

[2017-08-14 16:21] Armagetron commented on #32
Now using python-zsi and twisted for generation.

Patching of ```/usr/lib/python2.7/dist-packages/ZSI/twisted/WSresource.py``` is required to work on Ubuntu 17.04.

First, change ```from twisted.web.error import NoResource``` to ```from twisted.web.resource import NoResource```. Second, move ```DefaultHandlerChain``` over the ```WSAddressHandlerChainFactory``` definition.

[2017-08-14 16:25] Armagetron commented on #38
#39 PR created.

[2017-08-14 16:25] #38 closed, assigned to Armagetron

[2017-08-14 18:10] BenjaminKeller commented on #22
This is now included in #19.

[2017-08-14 18:10] #22 closed, assigned to BenjaminKeller

[2017-08-15 07:12] larissazech commented on #1
Works for all participants, therefore closed.

[2017-08-15 07:12] #1 closed, assigned to BenjaminKeller

[2017-08-15 07:14] m273d15 commented on #30
Alright so we are using 4 spaces as tab and \n from unix! We will see whether a linter will be needed.
Example vim config:
[code]

[2017-08-15 07:20] nils-wisiol commented on #32
Not sure on how to report this to BSI. Can you elaborate on what exactly is wrong, why it is wrong and where did you get this file from? I'll get in touch with BSI.

[2017-08-15 07:22] nils-wisiol commented on #30
:+1:

[2017-08-15 07:22] #30 closed, assigned to nobody

[2017-08-15 08:42] Armagetron commented on #28
The problem was, that we need to check for the container not the compose. Correct line is ```exit $(docker ps -a -f exited=1 -q | wc -l | tr -d ' ')```

[2017-08-15 08:42] #28 closed, assigned to Armagetron

[2017-08-15 08:49] Armagetron commented on #7
Merged

[2017-08-15 08:49] #7 closed, assigned to Armagetron

[2017-08-15 09:38] m273d15 commented on #8
Since we are using OpenID it is not necessary to add a OAuth documentation.

[2017-08-15 09:38] #8 closed, assigned to larissazech

[2017-08-15 09:44] Armagetron commented on #21
The file https://www.ausweisapp.bund.de/fileadmin/user_upload/Software/Governikus-Demo.zip contains the certificates. The path to the keys in the archive is ```Governikus-Demo\DemoApp\misc\src\testKeys```

[2017-08-15 10:01] BenjaminKeller opened #42 "Integrate test certificates into nginx"
After we found the test certificates #21 and they are available to the web, we can give them to nginx and talk to the eID-Client.

[2017-08-15 11:43] m273d15 commented on #10
Similar to #31 . We have to clarify whether the result of #31 is sufficient.

[2017-08-15 12:57] nils-wisiol commented on #10
I'd love to have a shiny working example, but for now let's focus on functionality. Hopefully there will be time to add this later.

[2017-08-16 11:41] m273d15 opened #43 "Change oidc client so that the id token encoding works always"
encode token_id not only if called in popup!

[2017-08-16 11:43] #31 closed, assigned to m273d15

[2017-08-16 11:47] BenjaminKeller commented on #21
Sorry, but this seems to be wrong. The `Governikus-Demo/ReadMe.txt` says:

Sie können den mitgelieferten Tomcat sofort nutzen. Wenn Sie
das wünschen, können Sie auch einen eigenen Tomcat entsprechend
modifizieren. Führen Sie hierfür die folgenden Schritte durch:

Konfigurieren Sie den https support im Tomcat
 1. kopieren Sie **tls-ssl-commcert.p12** in das folgende Verzeichnis
    $CATALINA_HOME/c

[2017-08-16 12:34] #21 closed, assigned to BenjaminKeller

[2017-08-16 12:36] BenjaminKeller commented on #42
I added a [wiki page](https://github.com/swp-fu-eid/eid-fu-swp/wiki/Working-with-Test-Certificates-by-Governikus).

@nils-wisiol We cannot test this at the moment. Can you still give some feedback?

[2017-08-16 15:21] m273d15 commented on #43
It would be necessary to change the library, therefore we rather ignore this for now.

[2017-08-16 15:21] #43 closed, assigned to m273d15

[2017-08-17 07:10] Armagetron opened #44 "Implement useID function"
The eID server provied a useID function that is called by the eID service.

A first mock function is implemented. Now the full implementation is required.

[2017-08-17 07:12] Armagetron opened #45 "Implement getServerInfo function"
An implementation of this function is already there. Check the certificates if the returned functionality is correct.

As a plus write code that detects the functionality from the certificate if this is possible.

[2017-08-17 07:16] Armagetron opened #46 "Implement getResult function"

[2017-08-17 07:19] Armagetron commented on #32
I split the task in some more issues.

#44, #45 and #46

[2017-08-18 09:50] m273d15 opened #49 "Check that the received eID-token is valid before the post to openID"

[2017-08-18 10:52] m273d15 commented on #49
The eID data are signed. Therefore we can validate them with the corresponding key.
The key is part of the [PKI (public key infrastructure)](https://www.bsi.bund.de/EN/Topics/ElectrIDDocuments/CSCAcertGermany/cscaGermany_node.html). We have to clarify which key is important and which format is used ( X.509 certificates ).

[2017-08-19 06:45] nils-wisiol commented on #32
Communication with the eID client for online authentication is described in [TR-03124-1](https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/Publikationen/TechnischeRichtlinien/TR03124/TR-03124-1.pdf?__blob=publicationFile), Section 2.5 (please see the chart on p14!). It uses the Extended Access Control Protocol (EAC Protocol) defined in [TR-03112-7](https://www.bsi.bund.de/SharedDocs/Downloads/DE

[2017-08-19 06:59] nils-wisiol commented on #49
The eID data will be sent to the eID Server, not to the browser. I think the Django authentication needs to be integrated into the eid token business. Please see the chart referenced in [this post](https://github.com/swp-fu-eid/eid-fu-swp/issues/32#issuecomment-323505074).

[2017-08-19 07:01] nils-wisiol commented on #42
I believe these certificates are as good as any not-trusted, expired certificates for localhost. IMHO, these are not the eID Service Certificates ("Berechtigungszertifikat"). ([see also](https://github.com/swp-fu-eid/eid-fu-swp/issues/32#issuecomment-323505074))

[2017-08-21 14:06] m273d15 opened #51 "Add eID python types"
Types to implement (see [eID-Server specification](https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/Publikationen/TechnischeRichtlinien/TR03130/TR-03130_TR-eID-Server_Part1.pdf;jsessionid=BBBF6A846DFA4F960CA82C7ECA84313D.2_cid351?__blob=publicationFile&v=3)):

- [x] SessionType [Armagetron]
   - [x] eid-types/sessionid.py
   - [x] tests/sessionid.py
   - [x] eid-types/type_check.py
- [x] Restri

[2017-08-21 14:11] BenjaminKeller commented on #45
As we won't provide a SOAP interface between eID-Service and eID-Server, we don't need that.

[2017-08-21 14:11] #45 closed, assigned to BenjaminKeller

[2017-08-21 14:12] BenjaminKeller commented on #19
See #40.

[2017-08-21 14:12] #19 closed, assigned to BenjaminKeller

[2017-08-21 15:10] m273d15 commented on #51
Implementing VersionType and starting to configure a test infrastructure for python scripts

[2017-08-21 15:20] Armagetron commented on #51
Waiting for first commit. Then I will add SessionType.

[2017-08-21 15:52] nils-wisiol opened #52 "CRLF line endings"
@m273d15 Please fix CRLF line terminators in ./oidc_client_example/index_tmp.html
@BenjaminKeller Please fix line endings in ./static/html/js/check.js
cf #30

[2017-08-21 17:49] m273d15 commented on #51
Implementing PlaceType and ICAOCountry

[2017-08-22 07:04] larissazech commented on #51
Implementing VerificationResultType, AttributeSelectionType and OperationsSelectorType.

[2017-08-22 07:25] BenjaminKeller commented on #15
I had to install the _IcedTea Java Web Start_ via `sudo apt-get install icedtea-netx`. I got it working on windows 10 finally by running Ubuntu in Hyper-V.

[2017-08-22 08:14] m273d15 commented on #52
Fixed with #53

[2017-08-22 08:14] #52 closed, assigned to nobody

[2017-08-22 08:16] Armagetron opened #55 "Change testing framework to Chakram"
As mentioned in #40 frisby seems to be broken. Therefore we will migrate to Chakram as our testing framework.

[2017-08-22 13:09] m273d15 commented on #51
implementing GeneralPlaceType

[2017-08-22 14:11] larissazech commented on #51
Implementing AttributeRequestType and OperationsRequestorType.

[2017-08-22 14:19] auvin commented on #51
Implementing AttributeResponseType

[2017-08-22 16:40] auvin commented on #51
Some Types need Datatypes which are not described in the [eID-Server specification](https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/Publikationen/TechnischeRichtlinien/TR03130/TR-03130_TR-eID-Server_Part1.pdf;jsessionid=BBBF6A846DFA4F960CA82C7ECA84313D.2_cid351?__blob=publicationFile&v=3) like AgeType or CommunityIDType.
I think some of them are described in [TR-03127](https://www.bsi.bund.de/

[2017-08-23 17:15] auvin commented on #51
So in  the [TR-03130eID-Server.xsd](https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/Publikationen/TechnischeRichtlinien/TR03130/TR-03130_TR-eID-Server_WSDL.null;jsessionid=95380C685A82E2F34C1D0E8F84A069CF.1_cid360?__blob=publicationFile&v=2) are the complex data types described.

[2017-08-24 00:11] auvin commented on #51
The GeneralDateType is described as follows:

[code]

So the element `DateValue` has type date, which i think is reffering to the XSD type [xs:date](https://www.w3schools.com/xml/schema_dtypes_date.asp). Now i am not sure if ishould implement this datatype as a simple string, with an own date-class or with the build in date-object provided by python ([datetime.date](https://docs.python.org/2/libra

[2017-08-24 06:12] m273d15 commented on #55
We started to use the Django testing tools. Therefore we can write tests in python: https://docs.djangoproject.com/en/1.11/topics/testing/tools/

[2017-08-24 06:19] m273d15 opened #58 "Add python test execution to travis"
During the development of eID-types we started to use python tests. Therefore we should run them in the travis pipeline!

[2017-08-24 07:48] nils-wisiol opened #59 "Fix the 'modified' gif issue"
by adding `*.gif binary` to `.gitattributes`

[2017-08-24 08:21] Armagetron commented on #51
SessionID added

[2017-08-24 08:31] nils-wisiol opened #60 "Obtain Certificates"
We need certificates for the test infrastructure.

[2017-08-24 08:36] Armagetron commented on #51
WSDLs are available in this branch: https://github.com/swp-fu-eid/eid-fu-swp/tree/eid_server_wsdl

[2017-08-24 08:47] nils-wisiol opened #61 "Test Certificate vs PersoSim"
See if the test certificate we already have works with

- PersoSim
- test ID cards

[2017-08-24 09:10] Armagetron commented on #55
See #56 .

[2017-08-24 09:10] #55 closed, assigned to Armagetron

[2017-08-24 10:42] larissazech opened #62 "Implement interface between OpenID Provider and eID-Service"
### 1. Step: Client (KVV) --> OpenID Provider
Send OpenID Connect Authorization Request:
[code]
Todo: Verify, that client sends GET.

### 2. Step: OpenID Provider --> eID Service:
Create new View api/eidopenid/auth, that redirects the Authorization Request to the eID Service:
[code]
... eID Server magic...

### 3. Step: eID Service --> OpenID Provider:
Create new View api/eidopenid/login that rece

[2017-08-24 10:43] larissazech commented on #49
Solved by implementing #62.

[2017-08-24 10:43] #49 closed, assigned to m273d15, nielsgroth, larissazech

[2017-08-24 12:11] m273d15 commented on #17
Added information that 172.16 should be used by default and the other way only in the case that the default value does not work

[2017-08-24 12:11] #17 closed, assigned to m273d15

[2017-08-24 12:37] larissazech commented on #59
Updating my git version to 2.14 solved the issue. As #38 requires to use a git version newer than 2.10, I propose to close this issue and delete the corresponding branch?

[2017-08-24 13:23] Armagetron commented on #59
Well it wouldn't hurt to have this extra line. I can create a quick PR if desired

[2017-08-24 14:34] Armagetron commented on #58
I am on it. Will create a PR when ready

[2017-08-24 16:03] Armagetron commented on #58
The CI is up and running in types_ci. I can create a PR after a rebase of add_eid_server_types to master, because I already did this in the test branch or we replay this commit.

[2017-08-24 17:43] larissazech commented on #51
@nielsgroth and I are quite confused by the specifications of the GeneralDateType, or, more specifically, of the **DateString**. The definition in the eID-Server specification reads as follows:

numerical values (0-9). It's transmitted in the yyyymmdd format (4 places for the year, 2 places for the
month and 2 places for the day) as specified in [EAC] Part 2 Annex A Section 2: ASN.1 Definition. Th

[2017-08-25 09:19] Armagetron commented on #58
Implemented in 073e6ffc2b7f3b03785bfda0a75118a2ca389bce

[2017-08-25 09:19] #58 closed, assigned to m273d15, Armagetron

[2017-08-25 09:24] #27 closed, assigned to nobody

[2017-08-25 09:32] Armagetron commented on #51
I understand the definition in a way that the date should have the form "20170825" but "2017 08 25" should be understood as well.

[2017-08-25 16:56] larissazech commented on #59
See PR #63. Closed.

[2017-08-25 16:56] #59 closed, assigned to larissazech

[2017-08-25 21:10] larissazech commented on #51
All specified types seem to be implemented by now.

@Armagetron @m273d15 @nielsgroth What should be done in preparation of the pull request?

[2017-08-26 07:59] nils-wisiol commented on #51
I believe

should be read as in: must contain (spaces and numerical values). So either is fine. Then I'd read

as in: it could be more or less than 8 chars.

Therefore, I agree with @Armagetron that, judging from the docs, `2017 08 25` should be accepted. `<pattern value="[0-9 ]{8}" />` however does not match `2017 08 25` (wtf?).

I propose, whenever we need to parse a date formatted like this, re

[2017-08-29 09:50] Armagetron opened #64 "WSDLs for eID Card API"
@nils-wisiol @zervnet the [WSDLs for TR-03112](https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/Publikationen/TechnischeRichtlinien/TR03112/xsd-wsdl.zip?__blob=publicationFile&v=1) have mixed linefeeds (LF & CR LF). Visual Studio was complaining about it.

Can you confirm this and report it?

[2017-08-29 10:18] Armagetron commented on #60
I tested the Demo app with a test id as well as with my own nPA.

With my nPA I get the following error message in the AusweisApp2 `The authenticity of your ID card could not be verified. Please make sure that you are using a genuine ID card. Please note that test applications require the use of a test ID card.` and the demo app returns:
[code]
However the service provider could be verified.

With

[2017-08-29 10:45] nils-wisiol commented on #64
It's too funny, there is one file that has `CR` [sic] line terminators

	$ file *
	CardInfoRepository.wsdl:                    XML 1.0 document, ASCII text, with CRLF line terminators
	CardInfoRepository.xsd:                     XML 1.0 document, ASCII text, with CRLF, LF line terminators
	CardInfo.xsd:                               XML 1.0 document, ASCII text
	eCard-Protocols.xsd:

[2017-08-29 11:27] nils-wisiol commented on #60
I will have new test ID cards by Friday.

As to the expired service provider certificate, this may not be a problem. The ID card stores the latest issue date of any service provider certificate it has seen as the current date. So we may be able to work with expired service provider certificates. I am also working on non-expired service provider certificates.

[2017-08-29 11:29] nils-wisiol commented on #64
There is no official channel to report bugs to BSI (that I know of). We shall however collect a list of issues (possibly in a seperate github project?) that can be forwarded to BSI using non-official channels after we complete the project. I was told this will be appreciated.

[2017-08-29 11:33] nils-wisiol commented on #60
Also, the service provider certificate ("Berechtiungszertifikat") is bound to the SSL/TLS certificate of the HTTP server: The service provider certificate contains a hash value of the SSL/TLS certificate and will only work when used together with this particular certificate. That way, the service provider certificate is also bound to a particular hostname (the one in the HTTP SSL/TLS certificate).

[2017-08-29 11:36] Armagetron commented on #60
Ok, changing my system time did not work. But I think I can use the Demo App as a basis for us.

[2017-08-29 12:09] zervnet commented on #60
thanks for testing the current situation!
could you please also test the demo app in combination with the PersoSim app? This could show us whether the problem is the expiry date of the test ID card or the validity of the certificates in the demo app.

[2017-08-29 12:20] zervnet commented on #64
`CR` was the old MacOS newline style. kind of gives a hint to the age of the documents.

[2017-08-29 12:35] BenjaminKeller commented on #60
I have tested the Governikus Demo App with a valid test nPA. It is valid until 31.10.2020. The authentication starts, I have to enter my PIN. After that, a progress bar appears and fills until 50%. Then, I get the following error messages:
[code]
[code]
Die DemoApp meldet danach:
[code]
@zervnet Therefore, it seems to be the validity of the certificates. I will test with PersoSim soon but I have p

[2017-08-29 12:39] Armagetron commented on #60
@BenjaminKeller what is the error message the eID Service displays?

[2017-08-29 13:22] Armagetron commented on #64
But that does not explain, why this document has all three variants...

This is then called standard.

[2017-08-29 13:35] zervnet commented on #60
@BenjaminKeller have you seen that there is a Windows version of the PersoSim app?

[2017-08-29 13:37] Armagetron commented on #60
@zervnet the Windows Version does not work on my Windows 10 machine

[2017-08-29 17:26] nils-wisiol commented on #64
I blame excessive copy and paste :-1:

[2017-08-30 07:19] BenjaminKeller commented on #60
@zervnet I can confirm that. The driver cannot be installed on Windows 10.

[2017-08-31 19:23] BenjaminKeller commented on #61
See #60.

[2017-08-31 19:23] #61 closed, assigned to BenjaminKeller

[2017-09-12 06:54] nils-wisiol commented on #60
ping @Armagetron  certificates are available now

[2017-09-12 07:03] Armagetron commented on #60
Great news!

[2017-09-12 11:54] zervnet commented on #60
@Armagetron 101Swp!17?

Gibt keine PM mehr ...

[2017-09-12 11:59] Armagetron commented on #60
@zervnet I received your mail. investigating now.

[2017-09-12 12:05] Armagetron commented on #60
@zervnet I was unable to extract the zip

[2017-09-12 12:09] zervnet commented on #60
with the password?

[2017-09-12 12:10] nils-wisiol commented on #60
I extracted sucessfully.

[2017-09-12 12:11] nils-wisiol commented on #60
try using `7z x key.zip`

[2017-09-12 12:16] Armagetron commented on #60
The default unzip (```UnZip 6.00 of 20 April 2009, by Debian. Original by Info-ZIP.```) of Ubuntu 16.04 cannot handle the encryption. 7z was able to extract.
[code]

[2017-09-12 12:19] zervnet commented on #60
seems like unzip does not support password protected .zip files

[2017-09-12 12:41] Armagetron commented on #60
I tried to convert the certificates into p12 via ```openssl pkcs12 -export -in eid.dedyn.io.pem -chain 0000_chain.pem -inkey eidcertprivate.key -out cert.p12``` but somehow openssl does not like this command.

[2017-09-12 12:54] nils-wisiol commented on #60
please always include error messages

[2017-09-12 12:58] Armagetron commented on #60
Well, there was no real error message.

[code]

[2017-09-12 13:10] nils-wisiol commented on #60
Try

	cat eid.dedyn.io.pem > altogether.pem
	cat 0000_chain.pem >> altogether.pem
	cat eidcertprivate.key >> altogether.pem
	openssl pkcs12 -export -in altogether.pem -out cert.p12

[2017-09-13 09:01] Armagetron commented on #60
I cannot get the cert working. Merging worked now but the tomcat server does not like the storage password. I tried no password and ```123456```.

Both did not work. Do you have any hints?

[code]

[2017-09-13 11:08] zervnet commented on #60
to clarify, the cert we are talking about is the cert provided by Governikus, not the LE cert for the homepage?

[2017-09-19 08:13] Armagetron commented on #60
I have not received an answer from Governikus. I will try to mock this functionality but this remains a major show stopper.

[2017-09-19 09:07] Armagetron commented on #60
Btw I wrote to the AusweisApp2 support to report the error.

[2017-09-21 14:24] Armagetron opened #74 "maven in tomcat container"
I want to migrate the build of the DemoApp from ant to maven. This is my Dockerfile
[code]
However I get the following error:
[code]
Although ```JAVA_HOME``` is set to ```/usr/lib/jvm/java-8-openjdk-amd64```.

Does anyone have hints on this? @zervnet @nils-wisiol

[2017-09-21 14:33] Armagetron commented on #74
Ok, found a solution. My original pom.xml was
[code]
Changing it to
[code]
did the trick. Being specific here is also not a problem since tomcat is more or less bound to a specific java version.

[2017-09-21 14:33] #74 closed, assigned to Armagetron

[2017-09-25 09:45] auvin opened #75 "Create new pull request with squashed commits"
#67

[2017-09-25 09:47] auvin opened #76 "Write Documentation"
Write documentation with step by step guide how to use the service.

table of contents:

#### What is this project?
* [x] Overview
* [x] Technologies
* [x] Project design

#### Software Architecture
* [x]  Overview
* [x] Components
  * [x] OIDC Provider
  * [x] eID Service
  * [x] eID Server

#### Testing
* [x] Overview
* [x] Execution

#### Usage
* [x] Install Docker
* [x] Running
* [x] OIDC Prov

[2017-09-25 09:47] auvin opened #77 "Create shiny example"

[2017-09-28 08:48] larissazech commented on #51
Implemented by #70. Closed.

[2017-09-28 08:48] #51 closed, assigned to m273d15, Armagetron, nielsgroth, larissazech

[2017-09-28 08:49] larissazech commented on #10
Done. A shiny example as extension of this issue will be done with #77. Closed.

[2017-09-28 08:49] #10 closed, assigned to nobody

[2017-09-28 08:50] larissazech commented on #11
Depending on #60. Closed.

[2017-09-28 08:50] #11 closed, assigned to nobody

[2017-09-28 08:52] larissazech commented on #20
Tested by @Armagetron. Done and closed.

[2017-09-28 08:52] #20 closed, assigned to nobody

[2017-09-28 08:53] larissazech commented on #15
Closed.

[2017-09-28 08:53] #15 closed, assigned to nobody

[2017-09-28 08:54] larissazech commented on #26
Implemented. Can be done with "<BOILERPLATE_DOMAIN>/api/eidopenid/logout". Closed.

[2017-09-28 08:54] #26 closed, assigned to nobody

[2017-09-28 08:56] larissazech commented on #32
We can only use Governikus' eID Server. Closed.

[2017-09-28 08:56] #32 closed, assigned to Armagetron

[2017-09-28 08:57] larissazech commented on #33
Implemented by #78. Closed.

[2017-09-28 08:57] #33 closed, assigned to nielsgroth

[2017-09-28 08:58] larissazech commented on #34
Implemented by #78. Closed.

[2017-09-28 08:58] #34 closed, assigned to larissazech

[2017-09-28 09:00] larissazech commented on #42
@Armagetron

[2017-09-28 09:00] larissazech commented on #44
Implemented by #78. Closed.

[2017-09-28 09:00] #44 closed, assigned to BenjaminKeller

[2017-09-28 09:01] larissazech commented on #46
Done and tested. Closed.

[2017-09-28 09:01] #46 closed, assigned to BenjaminKeller

[2017-09-28 09:02] larissazech commented on #62
Implemented by #78. Closed.

[2017-09-28 09:02] #62 closed, assigned to m273d15, nielsgroth, larissazech, BenjaminKeller

[2017-09-28 09:02] larissazech commented on #64
Not needed. Closed.

[2017-09-28 09:02] #64 closed, assigned to Armagetron

[2017-09-28 09:03] larissazech opened #80 "Add Page for Client Registration"

[2017-09-28 09:04] larissazech opened #81 "Make project PEP8 conform"
Using pylint.

[2017-09-28 09:05] Armagetron commented on #60
@zervnet is there any new progress regarding this?

[2017-09-28 09:05] larissazech commented on #75
Done by #78. Closed.

[2017-09-28 09:05] #75 closed, assigned to BenjaminKeller

[2017-09-28 09:44] auvin opened #82 "Update READMEs"
* [x] root
* [x] api in #84
* [x] db
* [x] oidc_client_example
* [x] test/e2e
* [x] www

[2017-09-28 09:54] auvin commented on #76
@larissazech please review each section marked with a filled checkbox.

[2017-10-02 14:11] m273d15 commented on #77
See PR #83

[2017-10-04 15:19] zervnet commented on #60
no progress at all.
(I also have written another mail to governikus last week, no answer)

[2017-10-08 18:52] auvin commented on #76
Request from @MrM0nkey :

* [x] Links for JavaScript and HTML
* [x] remove Meeting Notes
* [x] remove OAuth 2.0
* [x] Rename Setup Testenvironment to Developmentenvironment
* [x] eID-Service
* Testing
  * [x] Errors with `./setup_testenvironment`
* Usage
  *  [x] Move testing to this section
  * [x] Move usage to the top
* Step-by-step guide
  * [x] copy the .?
  * [x] add more description
  * [x]

[2017-10-14 19:34] #82 closed, assigned to nielsgroth, larissazech

[2017-10-14 19:34] #76 closed, assigned to nielsgroth, larissazech

[2017-10-14 19:35] #77 closed, assigned to m273d15

[2017-10-16 10:22] #42 closed, assigned to Armagetron